
/* Base */

body {
	font-family: verdana, arial, serif;
	font-size: 13px;
	padding: 0;
	margin: 0;
	background: white;
}

hr {
	clear: both;
	visibility: hidden;
	margin: 0;
	padding: 0;
}

div,p,object {
	margin: 0;
	padding: 0;
}

a,a:visited {
	font-weight: bold;
	color: #7733AA;
	background-color: transparent;
	text-decoration: none;
}

a:hover,a:visited:hover {
	color: black;
	background-color: transparent;
	text-decoration: none;
}

.head {
	position: relative;	
	top: 0;
	left: 0;
	height: 80px;
	background-color: white;
}

.head h1 {
	visibility: hidden;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 0.1em;
	margin: 0;
	padding: 0px 0 0px 10px;
	padding: 0;
}

.head img {
	margin: 0;
	padding:0;
	position: absolute;
	top: 0px;
	left: 10px;
}

.content {
	min-height: 275px;	
	margin-right: 165px;
	background-color: white;
}

.foot {
	position: relative;
	bottom: 0;
	border-top: 2px solid #000000;
	background: #EEEFFF;
	padding: 10px;
	margin: 0;
	font-size: 10px;
	text-align: center;
}



/* menu */

.menu {
	float: right;
	width: 150px;
	background-color: #EEEFFF;
	font-size: 12px;
	text-align: left;
	padding: 0;
	margin:0;
	border-color: #7733AA;
	border-style: solid;
	border-width: 1px 0 1px 1px;
}

.menu ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

li > ul.pop {
/*	display: none;
	overflow: hidden;
	visibility: collapse;*/
}

li:hover > ul.pop {
/*	display: block;
	visibility: visible;*/
}

.menu li {
	font-weight: bold;
	color: #777777;
	padding: 3px;
	margin : 0;
	background-color: #EEEFFF;
	font-size: 11px;
	z-index: 100;
	list-style-type: none;
}

.menu a {
	padding: 2px;
}

.menu a:hover {
}

.menu h2 {
	position: relative;
	color: #222444;
	padding: 4px;
	margin: 0;
	font-size: 13px;
	background-color: #CCCDDD;
}


/* contenu */

.titre-page {
	text-align: right;
	padding: 4px 66px 4px 0;
	margin: 0 0 0 5px;
	font-weight: bold;
	font-size: 13px;
	font-variant: small-caps;
	letter-spacing: 0.25em;
	background-color: #DDDDDD;
}

.box {
	margin: 40px 0px 15px 15px;
	padding: 0px 10px 15px 10px;
	background-color: #e5f6ff;
	border: 1px solid #71ADEA;
}

.box * {
	font-size: 13px;
}

.box#gene {
	margin: 0 0 15px 15px;
	padding: 0 10px 0px 10px;
	background-color: white;
	border: 1px solid #FF9900;
}

p#message {
	background-color: #FFB0B0;
	border: 1px solid #FF0000;
	text-align: center;
	font-weight: bold;
	font-family: monospace;
	margin: 0;
	padding: 2px;
}

a#current_page {
	color:red;
}


.box h3 {
	position: relative;
	display: inline;
	margin: 15px 2px 5px 2px;
	padding: 0 0 0 0;
	font-weight: bold;
	font-size: 16px;
	top: -25px;
	padding-bottom: 4px;
}

.box-date {
	display: inline;
	position: relative;
	font-size: 10px;
	font-style: italic;
	float: right;
	letter-spacing: 0.6em;
}

.box p {
	position: relative;
	padding: 2px 5px 7px 5px;
	margin: 0;
	text-align: justify;
	text-indent: 2em;
}

.box .box-guy {
	text-indent:0;
}

.admin-datalist {
	margin:0;
	padding: 0px;
	border-bottom: 1px solid black;
}

.admin-datalist a {
	padding: 2px 4px 0px 4px;
	margin: 0 0 0 2px;
	background-color: #e5f6ff;
	border-color: #71ADEA;
	border-style: solid;
	border-width: 1px 1px 0px 1px;
	font-size: 12px;
}

.admin-accesslist {
	padding-top: 2px;
	margin: 0 0 10px 0;
	border-top: 1px solid black;
}

.admin-accesslist a {
	padding: 2px 4px 1px 4px;
	border-color: #71ADEA;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	margin-right: 2px;
	font-size: 12px;
}

.admin-accesslist a:hover,.admin-accesslist a:visited:hover,.admin-datalist a:visited:hover,.admin-datalist a:hover {
	background-color: white;
}

dd {
	margin: 2px;
	padding: 2px;
}

.right {
	text-align: right;
}

hr.separateur {
	clear: none;
	margin: 0.5em 0 0.5em 0;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	visibility: visible;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

input,select,textarea {
	border: 1px solid gray;
}

/* tableau */
table {
	margin: 0;
	padding: 0;
	table-layout: auto;
}
/*
tr:hover {
	background-color: white;
}
*/

td {
	padding: 0 4px 0 4px;
}

td img {
	height: 24px;
	width: 24px;
	border-width: 0px;
	margin-right: 4px;
}

